/*
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #003f6c65;
    overflow: auto;
}



header, footer {
    background-color: #003f6c;
    height: 9vh;
    min-width: 500px;
}

header{
    border-bottom: 4px solid #003052;
    display:flex;
    justify-content: space-between;
    padding: 1.5vh 0 0 1vw;    
}

footer{
    border-top: 4px solid #003052;
    padding-bottom: 0;
}

nav ul {
    list-style: none;
    font-size: 1.5vw;
    font-weight: bolder;
    text-align: right;
    margin: 0;
    color: #EDEFEE;
}

footer nav ul{
    text-align:center;
    padding-top: 1.5vh;
}

header{
    padding-top: 1.5vh;
}

nav ul li {
    display: inline-block;
    padding: 0 2vh;
}

footer nav ul li {
    padding: 0 10vh;
}




*/


body {
    background-color: #a6b4bd;
    overflow: auto;
}

main {
    margin: 0vh;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}


.nav-item{
	font-size: 1.5vw;
	margin: 0vw 1vw;	
}

.navbar-brand{
	font-size: 1.5vw;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    color: inherit;
}

#landing-img{
    height: 25vw;
    padding: 0 3vw;
    margin-top: 2vh;
    max-height: 500px;
    aspect-ratio: initial;
    float: left;
}

.intro{
    margin: 14vh 0 5vh 0;

}

td, th {
	text-align:center;
	vertical-align:middle;
}

thead{
	background-color: #292b2c50;
	width: 100%;
}

.intro p{
    padding-right: 4vw;
    padding-top: 3vh;
    margin: 0;
    text-align: justify;
    font-size: 1.2vw;
}

span{
	list-style: none;
    font-size: 2.5vw;
    font-weight: bolder;
    text-align: right;
    margin: 0;
    color: #EDEFEE;
}

section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

article{
    width: 20vw;
    background-color: rgb(200, 214, 218);
    text-align: center;
    box-shadow: 5px 5px 15px rgb(0,0,0);
    transition: all ease-in-out;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 8px;
    margin-top: 3vh;
}

article:hover{
    transform: scale(1.1);
}

article h2{
    width: 100%;
    margin: 0;
    padding-top: 0vh;
    font-size: 2vw;
    font-weight: bolder;
}

article p{
    text-align: justify;
    padding: 1vh 1vw;
    font-size: 1vw;
    border-top: 3px solid gray;
    border-top-style: double;
}

article img{
    width: 100%;
    aspect-ratio: 1/1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.container{
    margin-top: 5vh;
}

div p{
    margin-bottom: 0;
    margin-top: 4vh;
}

form h2{
    text-align: left;
    font-weight: bolder;
}

.space{
    margin-right: 3vw;
}

.login{
    padding: 4vh 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 50px rgb(0, 0, 0);
}

.icons{
    justify-content: space-evenly;
}

.icon-choice{
    display: flex;
    padding: 0;
    margin: 1vw 0;
    justify-content: center;
    position: relative;
}

input[type=radio]{
    position:absolute;
    opacity:0;
    width:0;
    height:0;
    cursor: pointer;
}

label img{
    width: 90%;
    transition: all 0.3s ease-in-out;
}

input[type=radio]:checked + img{
    border: 3px solid rgb(41, 125, 215);
    transform: scale(1.5);
    z-index: 1;
}

[type=radio]:not(:checked) + img{
    opacity: 0.4;
}

.game-list{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0;
    flex-wrap: nowrap;
    margin-bottom: 13vh;
}


#game-menu{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    margin: 3vh 0;
    padding: 3vh 0 1vh 0;
    width: 60vw;
    height: 20vh;

    background-color: rgb(200, 214, 218);
    box-shadow: 5px 5px 15px rgb(0,0,0);
    border: 3px solid rgb(54, 54, 54);
    border-radius: 8px;
}  

#selected-game{
    width: 10vw; 
    margin: 2vh 0;
    justify-content: center;

}

.newgameselection{
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#new-game{
    width: 100%;
    display: inline-block;
}

#game{
    width: 30vw;

} 

#opponent, #style{
    width: 20vw;
}

.form-control{
    display:inline-block;
}

#searchInput{
	width: 60%;
	max-width: 20vw; 
}

option{
	text-align: center;
}

.profile-label{
	margin-top: 1vh;
	font-size: 2vw;
	margin-left: 0;
}

.profile{
	font-size: 2vw;
	margin-left: 1vw;
}
