<footer th:fragment="footer" style="clear:both; position:relative; width: 100%; height:30px; margin-top:-30px;">
	<nav class="navbar navbar-expand bg-dark navbar-dark mb-3">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="bottomNavbar" style="justify-content:right; margin-right: 2%;">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/mockup}">About</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/underconstruction}">Contact</a></li>
			</ul>
		</div>
	</nav>
</footer>