<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="CSS/chessboard.css" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  

</head>

<body>
  <div class="background">
    <div class="gameboard">
      <div id="chessboard"></div>
    </div>
    <div class="info-panel">
      <div class="top">

          <a th:href="@{/}">
            <img class="leave-game" src="Images/Icons/back_arrow.png"/></a>

        <div id="game-number">
          Game #123
        </div>
      </div>
      <div id="turn">
        <div id="turn-color"></div>
        <div id="turn-text">White to Move</div>
      </div>
      <div class="timers"><pre>  <u>Timers</u></pre>
        <div class= "white-timer"></div>
        <div class="black-timer"></div>
      </div>

      <div class= "move-history"><pre>  <u>Moves</u></pre>
      </div>

      <div class= "captured-pieces"><pre>  <u>Captured Pieces</u></pre>
      </div>

    </div>
  </div>


  <script src="JS/chessboard.js"></script>
  <script src="JS/addpieces.js"></script>

</body>

</html>