<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" th:href="@{/CSS/chessboard.css}" />

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

	<div id="background" class="background">
		<div class="gameboard">
			<div id="chessboard" th:class="${color}">
				<div id="pieceMapJson" th:text="${pieceMapJson}"
					style="display: none" class="highlight"></div>
			</div>
		</div>
		<div class="info-panel">
			<div class="top">

				<a th:href="@{/}"><img class="leave-game"
					src="/Images/Icons/back_arrow.png" /></a>

				<div th:text="'Game #'+${id}"></div>
			</div>
			<div class="players"
				style="display: flex; flex-direction: column; align-content: center">
				<div id="turn" th:classappend="${turn}">
					<div id="turn-color"></div>
					<div id="turn-text"
						th:text="${turn == 'black-turn'} ? 'Black to Move' : 'White to Move'">
						White to Move</div>
				</div>
				<div class="container btn btn-light white-player no-cursor"
					style="width: 90%">
					<strong><span style="font-size: 2vw;" th:text="${whitePlayer}"></span></strong><i
						th:if="${whiteOnline}"
						style="font-size: 2vw; color: green; margin-left: 2vw"
						class="fa fa-user-circle"></i>
				</div>
				<div class="container btn btn-dark black-player no-cursor"
					style="margin-top: -1vh; width: 90%">
					<strong><span style="font-size: 2vw;" th:text="${blackPlayer}"></span></strong><i
						th:if="${blackOnline}"
						style="font-size: 2vw; color: green; margin-left: 2vw"
						class="fa fa-user-circle"></i>
				</div>
 				<div id="status">Connecting...</div>
			</div>
			
			<div id="rules" class="rule-display" style="overflow: auto; display: block; font-size: 2vw; background-color: lightblue">
				<strong>&nbsp;&nbsp;Rules</strong>
				<p id="rule-display" style="font-size: 2.5vh; padding: 0vh 1vw; font-weight: bold;"></p>
			</div>
			
			<div id="history" class="move-history" style="overflow: auto; display: none;">
				&nbsp;&nbsp;Moves
				<p id="move-display" style="font-size: 2vh; padding: 0vh 1vw" th:text="${moves}"></p>
			</div>

			<!-- <div class="captured-pieces">Captured Pieces -->
			<div id="buttons" style="display: flex; justify-content: space-around">
				<form style="width: 40%;" th:action="@{'/game/draw/' + ${id}}"
					method="post">
					<button style="width: 100%;" type="submit" class="btn btn-warning"><strong>DRAW</strong></button>
				</form>
				<form style="width: 40%;" th:action="@{'/game/forfeit/' + ${id}}"
					method="post">
					<button style="width: 100%;" type="submit" class="btn btn-danger"><strong>RESIGN</strong></button>
				</form>
			</div>

		</div>

	</div>

<div id="checkmate-popup" class="popup" style="display: none; justify-content: center; flex-direction: column;
    align-items: center;">
		<img src="/Images/large_img_catsplayingchess/felix-mittermeier-nAjil1z3eLk-unsplash.jpg" style="width: 100%">
		<span style="font-size: 3vw"><strong id="outcome">Text here</strong></span>
		
</div>

	<script th:src="@{/JS/chessboard.js}"></script>

</body>

</html>