<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<div th:remove="tag" th:replace="~{fragments/head :: head}"></div>
<title>Error</title>
<link th:href="@{/css/general.css}" rel="stylesheet"> 
<style>
body {
	background-image:
		url("/Images/large_img_catsplayingchess/hassan-pasha-7SjEuEF06Zw-unsplash.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100vw 120vh;
}
</style>
</head>
<body>
	<div class="container justify-content-center">
		<div class="row justify-content-center">
			<div class="col-10">
				<h1 style="margin: 5vh 5vw; text-align: center; color: white">
					Oh no! You've reached my error page! <br> You will be
					redirected to <br> the homepage in 5 seconds...
				</h1>
			</div>
		</div>
	</div>
	<script>
		setTimeout(function() {
			window.location.href = "/";
		}, 5000);
	</script>
</body>
</html>
