<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/general.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
	rel="stylesheet">
<title>Login</title>
</head>

<body>
	<header>
		<span>Chess With Cats!</span>
		<nav>
			<ul sec:authorize="isAuthenticated()">
				<li><a th:href="@{/}">Home</a></li>
				<li><a href="#game-menu">New Game</a></li>
				<li><a th:href="@{/leaderboard}">Leader Board</a></li>
				<li><a th:href="@{/friends}">Friends</a></li>
				<li><a th:href="@{/games}">Games</a></li>
				<li><a th:href="@{/profile}">Profile</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
			<ul sec:authorize="!isAuthenticated()">
				<li><a th:href="@{/login}">Login</a></li>
			</ul>
		</nav>
	</header>
	<main style="display: block">

		<div>

			<div class="col-md-5">
				<h1>RECEIVED FRIEND REQUESTS</h1>
				<table class="table table-striped"
					th:if="${!#lists.isEmpty(receivedList)}">
					<thead>
						<tr>
							<th>Player</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="sender : ${receivedList}">
							<td><span th:text="${sender}"></span></td>

							<td>
								<form th:action="@{'/friendrequest/accept/' + ${sender}}" method="post">
									<button type="submit" th:name="username" th:value="${sender}"
										style="font-size: 1vw; color: green">
										Accept <i class="fas fa-user-check" style="color: green"></i>
									</button>
								</form>
							</td>

							<td>
								<form th:action="@{'/friendrequest/decline/' + ${sender}}" method="post">
									<button type="submit" th:name="username" th:value="${sender}"
										style="font-size: 1vw; color: black">
										Decline <i class="fas fa-user-times" style="color: black"></i>
									</button>
								</form>
							</td>

							<td>
								<form th:action="@{'/friendrequest/block/' + ${sender}}" method="post">
									<button type="submit" th:name="username" th:value="${sender}"
										style="font-size: 1vw; color: red">
										Block User <i class="fas fa-user-slash" style="color: red"></i>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-5">
				<h1>PENDING SENT FRIEND REQUESTS</h1>
				<table class="table table-striped"
					th:if="${!#lists.isEmpty(pendingList)}">
					<thead>
						<tr>
							<th>Player</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="receiver : ${pendingList}">
							<td><span th:text="${receiver}"></span></td>

							<td>
								<form th:action="@{'/pendingrequest/cancel/' + ${receiver}}" method="post">
									<button type="submit" th:name="username" th:value="${receiver}"
										style="font-size: 1vw; color: black">
										Cancel Request<i class="fas fa-user-times" style="color: black"></i>
									</button>
								</form>
							</td>

							<td>
								<form th:action="@{'/pendingrequest/block/' + ${receiver}}" method="post">
									<button type="submit" th:name="username" th:value="${receiver}"
										style="font-size: 1vw; color: red">
										Block User <i class="fas fa-user-slash" style="color: red"></i>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div>
			<div class="col-md-5">
				<h1>FRIENDS</h1>
				<table class="table table-striped"
					th:if="${!#lists.isEmpty(friendsList)}">
					<thead>
						<tr>
							<th>Player</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="friend : ${friendsList}">
							<td><span th:text="${friend}"></span></td>

							<td>
								<form th:action="@{'/friendrequest/unfriend/' + ${friend}}" method="post">
									<button type="submit" th:name="username" th:value="${friend}"
										style="font-size: 1vw; color: black">
										Unfriend <i class="fas fa-user-times" style="color: black"></i>
									</button>
								</form>
							</td>

							<td>
								<form th:action="@{'/friendrequest/block/' + ${friend}}" method="post">
									<button type="submit" th:name="username" th:value="${friend}"
										style="font-size: 1vw; color: red">
										Block User <i class="fas fa-user-slash" style="color: red"></i>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h1>SEARCH FOR FRIENDS</h1>
			<form id="search">
				<label for="searchInput">Search Username: </label> <input
					type="text" id="searchInput" name="searchInput" required><br>
				<button type="submit">Search New Friends</button>
			</form>

			<div id="results">
				<table>
					<thead>
						<tr>
							<th>Search Results</th>

						</tr>
					</thead>
					<tbody id="resultsTable"></tbody>
				</table>
			</div>

		</div>

		<div>
			<div class="col-md-5">
				<h1>BLOCKED PLAYERS</h1>
				<table class="table table-striped"
					th:if="${!#lists.isEmpty(blockedList)}">
					<thead>
						<tr>
							<th>Player</th>
							<th></th>

						</tr>
					</thead>
					<tbody>

						<tr th:each="blockedPlayer : ${blockedList}">
							<td><span th:text="${blockedPlayer}"></span></td>

							<td>
								<form th:action="@{'/unblock/' + ${blockedPlayer}}"
									method="post">
									<button type="submit" th:name="username"
										th:value="${blockedPlayer}"
										style="font-size: 1vw; color: black">
										Unblock <i class="fas fa-user-times" style="color: black"></i>
									</button>
								</form>
							</td>

						</tr>
					</tbody>
				</table>
			</div>




		</div>
	</main>
	<script src="JS/friendSearchAJAX.js"></script>

</body>
</html>