<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<div th:remove="tag" th:replace="~{fragments/head :: head}"></div>
<title>Games</title>
<link th:href="@{/css/general.css}" rel="stylesheet"> 
</head>
<body>
	<header th:replace="~{fragments/header.html}"></header>
	<main>

		<section>
			<div id="game-menu" sec:authorize="isAuthenticated()">
				<form id="new-game" th:action="@{/gameRequest}"
					th:object="${gameReq}" method="post">
					<h2 style="text-align: center; margin-bottom: 2vh;">Request New Game</h2>
					<div class="newgameselection">
						<select id="style" name="style" class="form-control">
							<option th:each="style : ${gameStyles}" th:value="${style}"
								th:field="*{style}" th:text="${style.getDescription()}"></option>
						</select> <select id="opponent" name="opponent" class="form-control">
							<option value="1" selected>Random Opponent</option>
							<option th:each="opponent : ${friends}" th:value="${opponent}"
								th:text="${opponent}" th:field="*{opponent}"></option>
						</select> <input id="submit" type="submit" value="Submit"
							class="btn btn-primary">
					</div>
				</form>
			</div>

		</section>
		<div class="container col-11">
		<div class="row">
				<div class="col-12" th:if="${!#lists.isEmpty(receivedList)}">
					<h2>RECEIVED REQUESTS</h2>
					<table class="table table-striped"
						th:if="${!#lists.isEmpty(receivedList)}">
						<thead>
							<tr>
								<th>Created</th>
								<th>Opponent</th>
								<th>Game Type</th>
								<th>Accept</th>
								<th>Decline</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="request : ${receivedList}">

								<td th:text="${request.time}"></td>

								<td><a th:href="'/profile/' + ${request.opponent}"
									th:text="${request.opponent}"></a></td>

								<td th:text="${request.style}"></td>

								<td>
									<form
										th:action="@{'/gameRequest/accept/' + ${request.id} +'/'+ ${request.style} +'/'+ ${request.opponent}}"
										method="post">
										<button type="submit" th:value="${request.id}"
											class="btn btn-success" >
											Accept
										</button>
									</form>
								</td>

								<td>
									<form th:action="@{'/gameRequest/decline/' + ${request.id}}"
										method="post">
										<button type="submit" th:value="${request.id}"
											class="btn btn-danger">
											Decline 
										</button>
									</form>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h2>ACTIVE GAMES</h2>
					<table class="table table-striped"
						th:if="${!#lists.isEmpty(activeList)}">
						<thead>
							<tr>
								<th>Game Id</th>
								<th>Game Type</th>
								<th>Game Color</th>
								<th>Opponent</th>
								<th>Turn</th>
								<th>Enter Game</th>
								<th>Forfeit</th>

							</tr>
						</thead>
						<tbody>

							<tr th:each="game : ${activeList}">
								<td th:text="${game.id}"></td>
								<td th:text="${game.style}"></td>
								<td th:text="${game.color}"></td>

								<td><a th:href="'/profile/' + ${game.opponent}"
									th:text="${game.opponent}"></a></td>

								<td th:text="${game.turn}"></td>

								<td>
									<form th:action="@{'/game/' + ${game.style} +'/' + ${game.id}}"
										method="get">
										<button type="submit" class="btn btn-success">
											PLAY!
										</button>
									</form>
								</td>

								<td>
									<form th:action="@{'/game/forfeit/' + ${game.id}}"
										method="post">
										<button type="submit" class="btn btn-danger">
											Forfeit 
										</button>
									</form>
								</td>

							
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-12" th:if="${!#lists.isEmpty(pendingList)}">
					<h2>SENT REQUESTS</h2>
					<table class="table table-striped"
						>
						<thead>
							<tr>
								<th>Created</th>
								<th>Opponent</th>
								<th>Game Type</th>
								<th>Cancel</th>

							</tr>
						</thead>
						<tbody>

							<tr th:each="pendingRequest : ${pendingList}">

								<td th:text="${pendingRequest.time}"></td>

								<td><a th:href="'/profile/' + ${pendingRequest.opponent}"
									th:text="${pendingRequest.opponent}"></a></td>

								<td th:text="${pendingRequest.style}"></td>

								<td>
									<form
										th:action="@{'/gameRequest/decline/' + ${pendingRequest.id}}"
										method="post">
										<button type="submit" th:value="${pendingRequest.id}"
											class="btn btn-danger">
											Cancel 
										</button>
									</form>
								</td>

							
							</tr>
						</tbody>
					</table>


				</div>
			</div>
			<div class="row">
				<div class="col-12" th:if="${!#lists.isEmpty(archiveList)}">
					<h2>COMPLETED GAMES</h2>
					<table class="table table-striped"
						>
						<thead>
							<tr>
								<th>Game Id</th>
								<th>Game Type</th>
								<th>Game Color</th>
								<th>Opponent</th>
								<th>Game Outcome</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="game : ${archiveList}">
								<td th:text="${game.id}"></td>
								<td th:text="${game.style}"></td>
								<td th:text="${game.color}"></td>

								<td><a th:href="'/profile/' + ${game.opponent}"
									th:text="${game.opponent}"></a></td>

								<td th:text="${game.winLoseDraw} + ' (' + ${game.outcome} + ')'"></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>

			
			
		</div>
	</main>
</body>
</html>