<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/CSS/general.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  <title>Chess With Cats!</title>
</head>

<body>
  <header>
    <span>Chess With Cats!</span>
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a href="#game-menu">New Game</a></li>
        <li><a href="leaderboard.html">Leader Board</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="intro">
      <img id="landing-img" src="../static/Images/large_img_catsplayingchess/rick-j-brown-OlyjFqrtPGo-unsplash.jpg">
      <p>In the land of Felinia, cats and chess had a long and storied history. For generations, these cats had observed
        the game of chess, fascinated by the strategic movements of the pieces. They had always longed to be a part of
        the game, but had never been given the chance. That all changed one fateful day, when a group of cunning cats
        decided to take matters into their own paws. They infiltrated a chess tournament, disguising themselves as
        pieces on the board. The players were initially taken aback, but soon learned to work around the mischievous
        felines as they attempted to outmaneuver each other. As the tournament progressed, the cats grew more confident
        in their role as chess pieces. They began to move in unexpected ways, defying the players' commands and causing
        chaos on the board. Despite the challenges they posed, the players couldn't help but admire the cats' playful
        spirit and cunning tactics. The tournament became a battle not only of strategy, but of wit and cunning as the
        players tried to outsmart their feline opponents. And so, the game of "Chess with Cats!" was born, captivating
        players and spectators alike with its unpredictable twists and turns. Continue on to play one of several
        variations.</p>

    </section>
    <section class="game-list">

      <article>

        <img src="../static/Images/large_img_catsplayingchess/DALL·E 2023-02-05 12.52.36.png">
        <h2>Chess with Cats</h2>
        <p>
          Cats have taken over your chess board. They just want to play and be a part of the game. Play chess around
          these obstructive kitties!
        </p>
      </article>
      <article>

        <img src="../static/Images/large_img_catsplayingchess/DALL·E 2023-02-07 17.09.54.png" />
        <h2>Cat Chess</h2>
        <p>
          The chess pieces are cats. But let's be honest - cats all look the same. Play chess while trying to keep track
          of your pieces!
        </p>
      </article>
      <article>

        <img src="../static/Images/large_img_catsplayingchess/DALL·E 2023-02-05 12.52.14.png">
        <h2>Ultimate Cat Chess</h2>
        <p>
          Cats never like being told what to do. Play cat chess with determined and stubborn felines that may stay where
          you place them... or may go where they please!
        </p>
      </article>
    </section>


    <section> 
     <div class="new-game" id="game-menu">
        <form action="./chessboard.html" method="">
          <h2 style="text-align: center">Select New Game</h2>
          <select id="games" name="games" class="form-control w-100">
            <option value="game1" selected>Chess With Cats (Kitty Obstructions)</option>
            <option value="game2">Cat Chess (Ambigious Kitty Pieces)</option>
            <option value="game3">Ultimate Cat Chess (Defiant Kitties)</option>
          </select>
          <input id="selected-game" type="submit" value="START" class="btn btn-primary">
        </form>
      </div>

    </section>
    </div>
  </main>

  <footer>
    <nav>
      <ul>
        <li><a href="underconstruction.html">About</a></li>
        <li><a href="underconstruction.html">Contact</a></li>
      </ul>
    </nav>
  </footer>

</body>

</html>