<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <title>Leaderboards</title>

    <style>
        main{
            height: 150vh;
        }
        
        th{
            background-color: #003e6a60;
            font-size: 1.2vw;
        }

        td{
            font-size: 1vw;
        }
    </style>


</head>

<body>

    <header>
        <span>Chess With Cats!</span>  
        <nav>
          <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/}">New Game</a></li>
            <li><a th:href="@{/leaderboard}">Leader Board</a></li>
            <li><a th:href="@{/login}">Login</a></li>
          </ul>
        </nav>
      </header>  

      <main>
<div class="container col-6">

 <h2>Chess With Cats!</h2>   
   <table class="table table-striped justify-content-center">
 <thead>
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Points</th>
    </tr>
 </thead>
    <tbody>
     <tr>
      <td>1</td>
      <td>knightmaster</td>
      <td>1820</td>
     </tr>
     <tr>
        <td>2</td>
        <td>bishopqueen88</td>
        <td>1750</td>
       </tr>
       <tr>
        <td>3</td>
        <td>rookrook12</td>
        <td>1650</td>
       </tr>
       <tr>
        <td>4</td>
        <td>pawnpower22</td>
        <td>1640</td>
       </tr>
       <tr>
        <td>5</td>
        <td>kingknight92</td>
        <td>1500</td>
       </tr>
    </tbody>
</table>
</div>


<div class="container col-6">
<h2>Cat Chess</h2>   
<table class="table table-striped justify-content-center">
<thead>
 <tr>
     <th>Rank</th>
     <th>Username</th>
     <th>Points</th>
 </tr>
</thead>
 <tbody>
  <tr>
   <td>1</td>
   <td>chesscat22</td>
   <td>1920</td>
  </tr>
  <tr>
     <td>2</td>
     <td>checkmate99</td>
     <td>1880</td>
    </tr>
    <tr>
     <td>3</td>
     <td>queenmove77</td>
     <td>1850</td>
    </tr>
    <tr>
     <td>4</td>
     <td>castelcrush57</td>
     <td>1840</td>
    </tr>
    <tr>
     <td>5</td>
     <td>pawnpusher36</td>
     <td>1800</td>
    </tr>
 </tbody>
</table>
</div>

<div class="container col-6">
<h2>Ultimate Cat Chess</h2>   
<table class="table table-striped justify-content-center">
<thead>
 <tr>
     <th>Rank</th>
     <th>Username</th>
     <th>Points</th>
 </tr>
</thead>
 <tbody>
  <tr>
   <td>1</td>
   <td>bishopboss43</td>
   <td>1620</td>
  </tr>
  <tr>
     <td>2</td>
     <td>knightninja68</td>
     <td>1450</td>
    </tr>
    <tr>
     <td>3</td>
     <td>rookruler89</td>
     <td>1440</td>
    </tr>
    <tr>
     <td>4</td>
     <td>kingkamikaze23</td>
     <td>1340</td>
    </tr>
    <tr>
     <td>5</td>
     <td>queenqueen11</td>
     <td>1260</td>
    </tr>
 </tbody>
</table>
</div>

</main>
  <footer style="margin-top: 5vh;">
    <nav>
      <ul>
        <li><a th:href="@{/about}">About</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>