<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<div th:remove="tag" th:replace="~{fragments/head :: head}"></div>
<title>Leaderboard</title>
<link th:href="@{/css/general.css}" rel="stylesheet"> 
</head>
<body>
	<header th:replace="~{fragments/header.html}"></header>

	<main>

		<div class="container col-12" style="margin-top: 12vh">
			<div class="row">
				<div class="col-6">
					<h2>CLASSIC</h2>
					<table class="table table-striped justify-content-center">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Username</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="rank : ${CLASSIC}">
								<td th:text="${rank[0]}"></td>
								<td><a th:href="'/profile/' + ${rank[1]}"
									th:text="${rank[1]}"></a></td>
								<td th:text="${rank[2]}"></td>
							</tr>
						</tbody>
					</table>
				</div>



				<div class="col-6">
					<h2>OBSTRUCTIVE</h2>
					<table class="table table-striped justify-content-center">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Username</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="rank : ${OBSTRUCTIVE}">
								<td th:text="${rank[0]}"></td>
								<td><a th:href="'/profile/' + ${rank[1]}"
									th:text="${rank[1]}"></a></td>
								<td th:text="${rank[2]}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<div class="row">
				<div class="col-6">
					<h2>AMBIGUOUS</h2>
					<table class="table table-striped justify-content-center">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Username</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="rank : ${AMBIGUOUS}">
								<td th:text="${rank[0]}"></td>
								<td><a th:href="'/profile/' + ${rank[1]}"
									th:text="${rank[1]}"></a></td>
								<td th:text="${rank[2]}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-6">
					<h2>DEFIANT</h2>
					<table class="table table-striped justify-content-center">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Username</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="rank : ${DEFIANT}">
								<td th:text="${rank[0]}"></td>
								<td><a th:href="'/profile/' + ${rank[1]}"
									th:text="${rank[1]}"></a></td>
								<td th:text="${rank[2]}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div></div>
	</main>

</body>
</html>