<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<div th:remove="tag" th:replace="~{fragments/head :: head}"></div>
<link th:href="@{/css/general.css}" rel="stylesheet"> 
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-auto login">
                    
                        <div class="form-row d-flex justify-content-center">
                            <div class="col-10 form-group">
                               <h2>LOGIN</h2>
                               <p class="alert alert-success" th:if="${successReg}">Registration Successful!</p>
                            </div>    
                        </div>
                        <form th:action="@{/login-player}" th:object="${userLogin}" method="post">
                        <div class="form-row d-flex justify-content-center">
                         <div class="col-10 form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" th:field="*{username}" required>
                        </div>
                    </div>    
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-10 form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" th:field="*{password}" required>
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-10">
                            <p class="alert alert-danger" th:if="${loginFail}">Invalid username or password</p>
                            <p></p>
                            <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10">
                            <p>Need an account? <a th:href="@{/register}">SIGN UP</a></p>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>


</body>

</html>