<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/header.html}">
<title>Profile</title>
</head>
<body>
	<header th:replace="~{fragments/head.html}"></header>

	<main>

		<div class="container" style="padding-top: 8vh;">
	
			<div class="row">
				<div class="col-3 justify-content-end">
					<img style="width: 70%; margin-bottom: 4vh;" th:src="@{'/Images/large_img_catsplayingchess/' + ${iconFile}}">
				
				</div>
				<div class="col-6">
					<p class="profile-label" ><strong>Username:</strong> <span class="profile" th:text="${username}"></span></p>
					<p class="profile-label" th:if="${password} != null">
						<strong>Password:</strong> <span class="profile" th:text="${password}"></span>
					</p>
					<p class="profile-label" th:if="${password} != null">
						<strong>Email:</strong> <span class="profile" th:text="${email}"></span>
					</p>
					<p class="profile-label" th:if="${password} != null">
						<strong>Name:</strong> <span class="profile" th:text="${name}"></span>
					</p>
					<p class="profile-label" >
						<strong>Member since:</strong> <span class="profile" 
							th:text="${dateJoined} + ${accountDays}"></span>
					</p>
				</div>
				<div class="col-2"></div>
			</div>
			<div class="row"></div>
	<div class="col-6">




			<h2>Game Outcomes</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Game Style</th>
						<th>Total</th>
						<th>Wins</th>
						<th>Draws</th>
						<th>Losses</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="gameStyle : ${gameResults}">
						<td th:text="${gameStyle.key}"></td>
						<td th:text="${gameStyle.value[0]}"></td>
						<td th:text="${gameStyle.value[1]}"></td>
						<td th:text="${gameStyle.value[2]}"></td>
						<td th:text="${gameStyle.value[3]}"></td>
					</tr>
				</tbody>


			</table>
		</div>	</div>
	</main>
</body>
</html>